/*

🄲🅄🅂🅃🄸🄼🄴

© 2022 dante_nl
Custime CSS style sheet. Do not copy without permission from dante_nl

CONTACT:
- Discord: dante_nl#1234
- Twitter: @dantenl1

INFO:
Fonts retrieved from Google Fonts:
- Open Sans
- Smooch Sans
- Playfair Display
- Arvo
- Staatliches
- Caveat
- Sacramento
- IBM Plex Mono
- Fira Code

Fonts retrieved from fontslibrary.org:
- Minecraftia
*/

@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Caveat&family=Fira+Code&family=IBM+Plex+Mono&family=Open+Sans&family=Playfair+Display:ital@1&family=Press+Start+2P&family=Sacramento&family=Smooch+Sans&family=Staatliches&display=swap');
@import url('https://fontlibrary.org//face/minecraftia');

/* --------------- */
/* ⬇️ General Styling */
/* --------------- */

html,
body {
	margin: 0;
  	padding: 0;
}

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	height: 100vh;
	width: 100vw;
	text-align: center;
	position: static;
}

.clock {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85%;
	width: 100%;
	font-size: 500%;
}

.clock a {
	text-decoration: none;
	color: #000
}

.icon {
	color: #000;
	text-decoration: none;
}

.hideText {
	visibility: hidden;
}

.mobile .clock {
	font-size: 200%;
	height: 80%;
}

.circle {
	height: 24px;
	width: 24px;
	background-color: #000;
	border-radius: 50%;
	border: 2px solid #000;
	display: inline-block;
	font-size: 16px;
	color: #fff;
	text-align: center;
	margin: 2px;
}

.menu {
  	position: relative;
  	display: inline-block;
}

.menu .menutext {
	visibility: hidden;
	width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -100px;
}

.menu:hover .menutext {
  visibility: visible;
}

.item {
	width: 15%;
	height: 80%;
	background-color: #fff;
	border-radius: 8px;
	color: #000
}

.far {
	display: inline-block;
  	vertical-align: middle;
	margin: 2px;
}

.fas {
	display: inline-block;
  	vertical-align: middle;
	margin: 2px;
}

.pill {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 24px;
}

.close:hover {
	color: #ff686b
}

/* --------------- */
/* ⬇️ Custom styling */
/* --------------- */

.red {
	background-color: #FFADAD;
}

.red .clock a {
	color: #996868 !important
}

.red .icon {
	color: #996868 !important;
	text-decoration: none;
}

.red .pill {
	color: #FFADAD;
	background-color: #996868;
}

.yellow {
	background-color: #FDFFB6;
}

.yellow .clock a {
	color: #98996D !important;
}

.yellow .icon {
	color: #98996D !important;
	text-decoration: none;
}

.yellow .pill {
	color: #FDFFB6;
	background-color: #98996D;
}

.green {
	background-color: #CAFFBF;
}

.green .clock a {
	color: #799973 !important;
}

.green .icon {
	color: #799973 !important;
	text-decoration: none;
}

.green .pill {
	color: #CAFFBF;
	background-color: #799973;
}

.blue {
	background-color: #A0C4FF;
}

.blue .clock a {
	color: #607699 !important;
}

.blue .icon {
	color: #607699 !important;
	text-decoration: none;
}

.blue .pill {
	color: #A0C4FF;
	background-color: #607699;
}

/* --------------- */
/* ⬇️ SpinKit from https://tobiasahlin.com/spinkit/ */
/* --------------- */

.spinner {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #333;
	height: 100%;
	width: 6px;
	display: inline-block;
	
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% { 
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}
